@{
    ViewBag.Title = "Manage Allocations With CIF";
}


<div class="row">
    <div class="container col-md-3 border-right border-bottom">

        <h4>Assignment</h4>
        <hr />
        <form id="form"></form>
    </div>
    <div class="container col-md-9 border-left border-bottom">
        <h4>Search</h4>
        <hr />
        <form id="FilterForm"></form>
    </div>
</div>
<br/>
<h4>Search Results</h4>
<hr />
<div class="row">
    <div class="col-md-12 float-right" id="grid"></div>
</div>
<div id="wrapper" class="overlay">
    <div class="d-flex flex-column h-100 justify-content-center align-items-center">
        <img src="~/Images/ncri.svg" width="300" alt="NCRI LOGO">
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#wrapper").hide();
        allocationForm();
        filterForm();
        var loader = $('#loader').kendoLoader({
            visible: true,
            themeColor: 'success',
            type: "infinite-spinner",
            size: "large"
        }).data('kendoLoader');

    });
    function allocationForm() {
        var form = $("#form").kendoForm({
            buttonsTemplate: "<button class='k-button k-primary k-form-submit'>Assign</button>" + "<button class='k-button k-form-clear'>Clear</button>",
            validatable: { validationSummary: true },
            orientation: "veritcal",
            items: [
                {
                    field: "CollectorName", editor: "DropDownList", label: "Collector Name", editorOptions: {
                        optionLabel: "Select Collector...",
                        dataSource: {
                            transport: {
                                read: {
                                    type: "POST",
                                    url: "/DropDown/CollectorsDropDown",
                                    contentType: "application/json; charset=utf-8",
                                    dataType: 'json',
                                    cache: false
                                },
                            }
                        },
                        dataTextField: "userName",
                        dataValueField: "userName"
                    }
                },
                {
                    field: "CIFS",
                    editor: function (container, options) {
                        $("<textarea class='k-textarea' name='" + options.label + "'  data-bind='value: " + options.field + "'></textarea>")
                            .appendTo(container);
                    },
                    id: "CIFS",
                    label: "CIFS",
                    hint: "Hint: Copy And Paste",
                    validation: { required: false }
                },
            ],

        }).getKendoForm();
        form.bind("submit", function (e) {
            $("#wrapper").show();
            console.log(e.model);
            e.preventDefault();

            $.ajax({
                type: "POST",
                url: "/Allocations/UpdateCollectorAllocationsWithCIFS",
                data: {
                    CIFS: e.model.CIFS,
                    CollectorName: e.model.CollectorName.userName,
                },
                datatype: "JSON",
                success: function (Result) {
                    $("#wrapper").hide();
                    if (Result.resultCode == "1100") {
                        GetAllocations();

                    }
                    else {

                        swal({
                            title: "Warning",
                            text: Result.remarks,
                            icon: "warning"
                        });

                    }
                },
                error: function (Result) {
                    swal({
                        title: "Warning",
                        text: Result.remarks,
                        icon: "warning"
                    });
                }
            })
        });
    };
    function filterForm() {
        var form = $("#FilterForm").kendoForm({
            buttonsTemplate: "<button class='k-button k-primary k-form-submit'>Search</button>" + "<button class='k-button k-form-clear'>Clear</button>",
            validatable: { validationSummary: true },
            orientation: "vertical",
            items: [
                {
                    id: "_collectorName",
                    field: "_collectorName",
                    editor: function (container, options) {
                        $("<textarea id='" + options.id + "' class='k-textarea' name='" + options.label + "'  data-bind='value: " + options.field + "'></textarea>")
                            .appendTo(container);
                    },
                    label: "Collector Name",
                    validation: { required: false }
                },
                {
                    id: "AccountNo",
                    field: "AccountNo",
                    editor: function (container, options) {
                        $("<textarea id='" + options.id + "' class='k-textarea' name='" + options.label + "'  data-bind='value: " + options.field + "'></textarea>")
                            .appendTo(container);
                    },
                    label: "AccountNo",
                    validation: { required: false }
                },
                {
                    id: "CIF",
                    field: "CIF",
                    editor: function (container, options) {
                        $("<textarea id='" + options.id + "' class='k-textarea' name='" + options.label + "'  data-bind='value: " + options.field + "'></textarea>")
                            .appendTo(container);
                    },
                    label: "CIF",
                    validation: { required: false }
                },
            ],

        }).getKendoForm();
        form.bind("submit", function (e) {
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/Allocations/GetAllocations",
                data: {
                    AccountNo: e.model.AccountNo,
                    CollectorName: e.model._collectorName,
                    CIF: e.model.CIF
                },
                datatype: "JSON",
                success: function (Result) {
                    console.log(Result);
                    if (Result[0].resultCode == "1100") {
                        swal({
                            title: "Success",
                            text: Result[0].remarks,
                            icon: "success"
                        });
                        AllocationsGrid(Result);

                    }
                    else {

                        swal({
                            title: "Warning",
                            text: Result[0].remarks,
                            icon: "warning"
                        });
                        $("#grid").data("kendoGrid").dataSource.data([]);

                    }
                },
                error: function (Result) {

                    swal({
                        title: "Warning",
                        text: Result.remarks,
                        icon: "warning"
                    });
                    $("#grid").data("kendoGrid").dataSource.data([]);
                }
            })

        });
    };
    function AllocationsGrid(Result) {
        $("#grid").kendoGrid({
            dataSource: Result,
            autoSync: true,
            height: 500,
            filterable: true,
            sortable: true,
            pageable: true,
            toolbar: ["excel", "pdf", "search"],
            navigatable: true,
            resizable: true,
            reorderable: true,
            groupable: true,
            schema: {
                data: "NCRIAttandancePortal.Models.AllocationsDataModels.AllocationsResponseModel",
                type: 'json'
            },
            columns: [
                {
                    field: "CustomerName",
                    title: "Customer Name",
                },
                {
                    field: "AccountNo",
                    title: "Account No",
                    /* format: "{0:MM/dd/yyyy}"*/
                },
                {
                    field: "CIF",
                    title: "CIF",
                    /* format: "{0:MM/dd/yyyy}"*/
                },
                {
                    field: "CollectorName",
                    title: "Collector Name",
                    /* format: "{0:MM/dd/yyyy}"*/
                },


            ]
        });
    };
    function GetAllocations() {
        $.ajax({
            type: "POST",
            url: "/Allocations/GetAllocations",
            data: {
                AccountNo: $("#AccountNo").val(),
                CollectorName: $("#_collectorName").val(),
                CIF: $("#CIF").val(),
            },
            datatype: "JSON",
            success: function (Result) {
                console.log(Result);
                if (Result[0].resultCode == "1100") {
                    swal({
                        title: "Success",
                        text: "Updated And Grid Loaded",
                        icon: "success"
                    });
                    AllocationsGrid(Result);

                }
                else {

                    swal({
                        title: "Success",
                        text: "Updated And Grid Loaded",
                        icon: "success"
                    });
                    $("#grid").data("kendoGrid").dataSource.data([]);

                }
            },
            error: function (Result) {

                swal({
                    title: "Warning",
                    text: Result.remarks,
                    icon: "warning"
                });
                $("#grid").data("kendoGrid").dataSource.data([]);
            }
        })
    };

</script>